<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="default" providerName="System.Data.SQLite" connectionString="Data Source=ImapBayes.s3db" />
		<!--
		<add name="default" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS"/>
		<add name="default" providerName="FirebirdSql.Data.FirebirdClient" connectionString="ServerType=1;User=SYSDBA;Password=masterkey" />
		-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
	</startup>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" support="3F" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
			
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data>

</configuration>
