################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImapBayes/bin
/ImapBayes/obj
/AE.Net.Mail/obj
/AE.Net.Mail/bin
